<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.springboard.model.mapper.UserMapper">

    <select id="전체유저들" resultType="com.board.springboard.model.dto.User">
        SELECT *
        FROM users
    </select>

    <insert id="회원가입" parameterType="com.board.springboard.model.dto.User">
        INSERT INTO users(name, email, create_at,password)
        VALUES         (#{name}, #{email}, NOW(),#{password})
    </insert>

    <select id="이메일중복체크" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM users
        WHERE email = #{email}
    </select>

    <select id="로그인" parameterType="String" resultType="com.board.springboard.model.dto.User">
        SELECT *
        FROM users
        WHERE email = #{email}
    </select>

    <select id="이메일로유저찾기" parameterType="String" resultType="com.board.springboard.model.dto.User">
        <!-- TODO 3. users 테이블에서 email 이 일치하는 유저 전체를 조회하시오 -->
        SELECT *
        FROM users
        WHERE email = #{email}
    </select>
        <!--#{profile_img}-->#{profileImg}교체해서 사용해보기-->
        <!--카멜케이스와 스네이크케이스로 맞추어 사용할 수 있다-->
        <update id="프로필사진수정" parameterType="com.board.springboard.model.dto.User">
            update users set profile_img=#{profile_img}
            where id= #{id}
        </update>


    <select id="유저단건조회" parameterType="int" resultType="com.board.springboard.model.dto.User">
        SELECT *
        FROM users
        WHERE id= #{id}
    </select>


    <!-- TODO 1: id, parameterType, SET 절, WHERE 절을 채우세요 -->
    <update id="유저정보수정" parameterType="com.board.springboard.model.dto.User">
        UPDATE users
        SET name  = #{name},
            email = #{email}
        WHERE id = #{id}
    </update>

</mapper>
